
        <div id="banner">
            <div id="profilePicCont">
                <div class="animated fadeInUp"><i class="fa fa-pencil-alt"></i></div>
                <img class="animated fadeIn" src="../img/DefaultProPic.png" alt="default profile Image">
            </div>
            <div id="proName">{{userData.firstName}} {{userData.lastName}}</div>
            <section>
                <div>Your Orders</div>
                <div>History</div>
            </section>
        </div>
        <div id="dashboard">
            <div id="leftDashboard" class="animated fadeInLeft">
                <div id="basicInfo">
                    <h4>Basic Information&nbsp;<i class="fa fa-pencil-alt"></i></h4>
                    <ul>
                        <li>Full Name <div>{{userData.firstName}} {{userData.lastName}}</div></li>
                        <li>Email Address <div>{{userData.email}}</div></li>
                        <li>Password <div><a href="/user/changepassword/{{userData.user_id}}">Change Password</a></div></li>
                    </ul>
                </div>
                <div id="orderHist">
                    <h4>Order History&nbsp;<i class="fa fa-history"></i></h4>
                    <ul>
                        <li><span>TT $200.00</span><span> Waterproof Sport Smart Watc..</span> <span>Order Date: June 2020</span></li>
                        <li><span>TT $200.00</span><span> Waterproof Sport Smart Watc..</span> <span>Order Date: June 2020</span></li>
                        <li><span>TT $200.00</span><span> Waterproof Sport Smart Watc..</span> <span>Order Date: June 2020</span></li>
                        <li><span>TT $200.00</span><span> Waterproof Sport Smart Watc..</span> <span>Order Date: June 2020</span></li>
                    </ul>
                </div>
            </div>
            <div id="RightDashboard" class="animated fadeInRight">
                <h4>Watch List&nbsp;<i class="fa fa-list-ul"></i></h4>
                <div class="MainlistCont">
                    <div class="listCont">
                        <div class="imgPrice">
                            <h6>Smart Watches</h6>
                            <div><img src="../img/category/apparel.png" alt=""></div>
                            <div class="price">TT $ 300.00</div>
                        </div>
                        <div class="prodDesc">
                            <div class="moreInfo">
                                <div class="watchLikes"><i class="fa fa-thumbs-up"></i>100</div>
                                <div class="watchMoreInfo orangeGrd">More Info</div>
                            </div>
                            <div class="watchDesc">
                                Waterproof Sport Smart Watch
                                Monitor for IOS $ Android
                            </div>
                            <div class="addToCart">
                                <i class="fa fa-shopping-cart"></i>&nbsp;Add to cart
                            </div>
                            <div class="WatchListTrash">
                                <a href=""><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="listCont">
                        <div class="imgPrice">
                            <h6>Smart Watches</h6>
                            <div><img src="../img/category/apparel.png" alt=""></div>
                            <div class="price">TT $ 300.00</div>
                        </div>
                        <div class="prodDesc">
                            <div class="moreInfo">
                                <div class="watchLikes"><i class="fa fa-thumbs-up"></i>100</div>
                                <div class="watchMoreInfo orangeGrd">More Info</div>
                            </div>
                            <div class="watchDesc">
                                Waterproof Sport Smart Watch
                                Monitor for IOS $ Android
                            </div>
                            <div class="addToCart">
                                <i class="fa fa-shopping-cart"></i>&nbsp;Add to cart
                            </div>
                            <div class="WatchListTrash">
                                <a href=""><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="listCont">
                        <div class="imgPrice">
                            <h6>Smart Watches</h6>
                            <div><img src="../img/category/apparel.png" alt=""></div>
                            <div class="price">TT $ 300.00</div>
                        </div>
                        <div class="prodDesc">
                            <div class="moreInfo">
                                <div class="watchLikes"><i class="fa fa-thumbs-up"></i>100</div>
                                <div class="watchMoreInfo orangeGrd">More Info</div>
                            </div>
                            <div class="watchDesc">
                                Waterproof Sport Smart Watch
                                Monitor for IOS $ Android
                            </div>
                            <div class="addToCart">
                                <i class="fa fa-shopping-cart"></i>&nbsp;Add to cart
                            </div>
                            <div class="WatchListTrash">
                                <a href=""><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="listCont">
                        <div class="imgPrice">
                            <h6>Smart Watches</h6>
                            <div><img src="../img/category/apparel.png" alt=""></div>
                            <div class="price">TT $ 300.00</div>
                        </div>
                        <div class="prodDesc">
                            <div class="moreInfo">
                                <div class="watchLikes"><i class="fa fa-thumbs-up"></i>100</div>
                                <div class="watchMoreInfo orangeGrd">More Info</div>
                            </div>
                            <div class="watchDesc">
                                Waterproof Sport Smart Watch
                                Monitor for IOS $ Android
                            </div>
                            <div class="addToCart">
                                <i class="fa fa-shopping-cart"></i>&nbsp;Add to cart
                            </div>
                            <div class="WatchListTrash">
                                <a href=""><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- install chalk for better command line readablity
create a messages handler using chalk to make the concole eaiser to user
look up morgan
look up chalk
-->