    <div id="heroSection" class="animated fadeIn">
        <a href="auth/register">
            <img id="heroimg" src="img/Hero Section.png" alt="hero section">
        </a>
    </div>
        <!--Dynamic Category section -->
        <!--Displays 1st 4 images to 4 different categories pulled from the database
            and links to a page that pulls up items based on categories it inserts that category as a query
        -->
<div class="categoryHeader"> 
    <h1><span>Categories</span></h1>
</div>
<div id="randomCategoriesLister">
    {{#each categories}}
    <div class="categoryPresentation" draggable="true">
        <div>{{this.categoryName}}</div>
        <a href="/search/category/{{this.categoryId}}">
            <img src="/img/{{this.categoryImgPath}}" alt="{{this.categoryName}}">
        </a>
        
    </div>
    {{/each}}
    
</div>
        <!--Lattest Items.
            These would be loaded last 1st, it must contain price,description,image,
        -->
<div class="categoryHeader"> 
    <h1><span>New Additions</span></h1>
</div>
<div id="newItemList">
    {{#if prodData}}
        {{#each prodData}}
            <div class="productContainer">
            <div class="prodHeader">
                <div class="headerLeft">
                    <i class="fa fa-thumbs-up"></i>&nbsp;<span>{{this.likes}}</span>
                </div>
                <div class="headerRight">
                    Best Seller
                </div>
            </div>
            <div class="prodImgCont">
                <a href="/products/{{this.productCode}}">
                    <img class="prodImg" src="{{this.imgLocation}}" alt="image">
                </a>
            </div>
            <div class="prodDesc">
                {{this.description}} &hellip;
                <div class="prodCategory">
                    {{this.categoryId}}
                </div>
            </div>
            <div class="prodActions">
                <div class="watchLater">
                    {{#if ../userinfo}}
                        <a href="/item/watchlater/{{../userinfo.userId}}/{{this.productCode}}"><i class="fa fa-stopwatch"></i>&nbsp;Watch Later</a>
                    {{else}}
                        <a href="/auth/login/"><i class="fa fa-stopwatch"></i>&nbsp;Login to save</a>
                    {{/if}}
                </div>
                <div class="AddCart">
                    {{#if ../userinfo}}
                        <a href="/cart/add/{{this.productCode}}"><i class="fa fa-cart-plus"></i>&nbsp;Add to cart</a>  
                    {{else}}
                        <a href="/auth/login/"><i class="fa fa-stopwatch"></i>&nbsp;Login for cart</a>
                    {{/if}}
                      
                </div>
            </div>
            <div class="prodFooter">
                TT $300.00
            </div>
        </div>
        {{/each}}
    {{else}}
        nothing
    {{/if}}
    {{#each products}}
    <div class="productContainer">
        <div class="prodHeader">
            <div class="headerLeft">
                <i class="fa fa-thumbs-up"></i><span>{{this.thumbsUp}}</span>
            </div>
            <div class="headerRight">
                30% Off
            </div>
        </div>
        <div class="prodImgCont">
            <img class="prodImg" src="{{this.prodImg}}" alt="image">
        </div>
        <div class="prodDesc">
            {{this.productName}} &hellip;
            <div class="prodCategory">
                {{this.category}}
            </div>
        </div>
        <div class="prodActions">
            <div class="watchLater">
                <a href="/prod/watch/{{this.prodId}}"><i class="fa fa-stopwatch"></i>&nbsp;Watch Later</a>
            </div>
            <div class="AddCart">
                <a href="/cart/add/{{this.prodId}}"><i class="fa fa-cart-plus"></i>&nbsp;Add to cart</a>    
            </div>
        </div>
        <div class="prodFooter">
            TT ${{this.prodPrice}}
        </div>
    </div>
    {{/each}}
</div>